* {
    box-sizing:border-box;
}
html{
    height: 100%;
}
body{
    background-image: url('/images/backgrounds//main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 50px;
    display: flex;
    position: relative;
}

main::before,
main::after{
    display: table;
    content: " ";
}

main::after{
    clear: both;
}

aside {
    width: 30%;
    /* padding: 15px; */
    flex: 1;
}

.content {
    float: left;
    width: 70%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

/*
Menu
*/
nav ul{
    padding-left: 0;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    border-bottom: 1px solid #d1d1d1;
}

nav ul li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

nav ul li a.selected{
    background-color: rgba(255, 255, 255, 0.9);
}

#notebook {
    width: 100%;
    height: 300px;
}

/*
Preloader
*/
#preloader-app {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}

#preloader-app.hidden{
    opacity: 0;
    transition: .3s;
}

#preloader-screen{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.loader-anim {
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    border: 5px solid rgba(60,60,180,0.45);
    border-top: 5px solid rgb(60,60,180);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    top: calc(50% - 15px);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}